<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle Financeiro</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header class="shadow">
        <div>
            <nav class="textshadow">
                <a href="/">Home</a>
                <a href="adicionar">Adicionar</a>
                <a href="resumo">Transações</a>
            </nav>
        </div>
        <div>
            <h1 class="textshadow">CONTROLE FINANCEIRO</h1>
        </div>
        <img src="../static/Images/Porquinho.png" alt="Porco Amarelo" class="shadow">
    </header>
    <main>
        <div class="container ">
            <div class="principal shadow radius">
                {% block form %} {% endblock %}
            </div>
            <section class="sidebar shadow radius">

            </section>
        </div>
    </main>
    <footer>
        <p>Desenvolvido por Carlos Segura</p>
    </footer>
</body>
</html>