{% extends 'base.html' %}

{% block form %}
    <h2 class="title shadow radius">{{ titulo }}</h2>

    <div id="tabela">
        <table>
            <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Conta</th>
                    <th scope="col">Tipo</th>
                </tr>
            </thead>
        
            {%for item in lista %}
            <tr>
                <td>{{ item['data'].strftime('%d/%m/%Y') }}</td>
                <td class="valor">R$ {{ item['valor'] }}</td>
                <td>{{ item['descricao'] }}</td>
                <td>{{ item['categoria'] }}</td>
                <td>{{ item['conta'] }}</td>
                <td>{{ item['tipo'] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>      
{% endblock %}

{% block menu %}
    <h1>Periodo</h1>
    <form action="resumo" method="get">
        <input type="radio" name="datainicial" id="mes" value="mes">
        <label for="mes">Mês Atual</label><br>
        
        <input type="radio" name="datainicial" id="trinta" value="trinta">
        <label for="trinta">Ultimos 30 dias</label><br>

        <input type="radio" name="datainicial" id="noventa" value="noventa">
        <label for="noventa">Ultimos 90 dias</label><br>


        
        <input type="submit" value="Filtrar">
    </form>
{% endblock %}
